<div style="position: relative; min-height: 800px;">
    <div ui-layout="{ flow : 'column' }" class="layout-column">
        <div ui-layout-container size="20%">
            <h1>Websites</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Websites</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="website in creditcards.websites">
                    <td><a ng-click="creditcards.filter_by_website=website">{{ website }}</a></td>
                </tr>
                </tbody>
            </table>

        </div>
        <div ui-layout-container>
            <h1>Credit Cards</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Card Name</th>
                    <th>Website</th>
                    <th>Categories</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="card in creditcards.list | filter:creditcards.filter_by_website">
                    <td>{{ card.id }}</td>
                    <td><a ui-sref=".details({id:card.id})">{{ card.name }}</a></td>
                    <td>{{ card.website}}</td>
                    <td>{{ card.categories.join(', ')}}</td>
                </tr>
                </tbody>
            </table>

        </div>

        <div ui-layout-container>
            <div ui-view></div>
        </div>
    </div>
</div>
