/* Put your css in here */

.user-details {
    background-color: #eee;
    padding-top: 10px;
}

body {
    padding-top: 60px;
    min-width: 768px;
}

.layout-column *:not(.ui-splitbar) {
    /*background : white;*/
}

.layout-column .ui-splitbar {
    background: #eee no-repeat center;
}
.ui-layout-column > .ui-splitbar > a, .ui-layout-row > .ui-splitbar > a {
    color: black;
}
.navbar-fixed-top{
    margin-bottom: 30px;
}
.stretch {
    overflow: auto;
    /*top:0;*/
}